@keyframes left_arm2_animation {
    0% {
        left: calc(100px + 300px - 40px);
        top: calc(100px - 40px);
        transform: rotate(84.61deg);
    }

    100% {
        left: calc(100px + 300px - 40px);
        top: calc(100px - 40px);
        transform: rotate(84.61deg);
    }
}