@keyframes left_arm1_animation {
    0% {
        transform: rotate(0deg);
    }

    1% {
        transform: rotate(10deg);
    }

    2% {
        transform: rotate(20deg);
    }

    3% {
        transform: rotate(30deg);
    }

    4% {
        transform: rotate(40deg);
    }

    5% {
        transform: rotate(50deg);
    }

    6% {
        transform: rotate(60deg);
    }

    7% {
        transform: rotate(50deg);
    }

    8% {
        transform: rotate(40deg);
    }

    9% {
        transform: rotate(30deg);
    }

    10% {
        transform: rotate(20deg);
    }

    11% {
        transform: rotate(10deg);
    }

    12% {
        transform: rotate(0deg);
    }

    13% {
        transform: rotate(10deg);
    }

    14% {
        transform: rotate(20deg);
    }

    15% {
        transform: rotate(30deg);
    }

    16% {
        transform: rotate(40deg);
    }

    17% {
        transform: rotate(50deg);
    }

    18% {
        transform: rotate(60deg);
    }

    19% {
        transform: rotate(50deg);
    }

    20% {
        transform: rotate(40deg);
    }

    21% {
        transform: rotate(30deg);
    }

    22% {
        transform: rotate(20deg);
    }

    23% {
        transform: rotate(10deg);
    }

    24% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    26% {
        transform: rotate(20deg);
    }

    27% {
        transform: rotate(30deg);
    }

    28% {
        transform: rotate(40deg);
    }

    29% {
        transform: rotate(50deg);
    }

    30% {
        transform: rotate(60deg);
    }

    31% {
        transform: rotate(70deg);
    }

    32% {
        transform: rotate(80deg);
    }

    33% {
        transform: rotate(90deg);
    }

    34% {
        transform: rotate(100deg);
    }

    35% {
        transform: rotate(110deg);
    }

    36% {
        transform: rotate(120deg);
    }

    37% {
        transform: rotate(130deg);
    }

    38% {
        transform: rotate(140deg);
    }

    39% {
        transform: rotate(150deg);
    }

    40% {
        transform: rotate(160deg);
    }

    41% {
        transform: rotate(170deg);
    }

    42% {
        transform: rotate(180deg);
    }

    43% {
        transform: rotate(190deg);
    }

    44% {
        transform: rotate(200deg);
    }

    45% {
        transform: rotate(210deg);
    }

    46% {
        transform: rotate(220deg);
    }

    47% {
        transform: rotate(230deg);
    }

    48% {
        transform: rotate(240deg);
    }

    49% {
        transform: rotate(250deg);
    }

    50% {
        transform: rotate(260deg);
    }

    51% {
        transform: rotate(270deg);
    }

    52% {
        transform: rotate(280deg);
    }

    53% {
        transform: rotate(290deg);
    }

    54% {
        transform: rotate(300deg);
    }

    55% {
        transform: rotate(310deg);
    }

    56% {
        transform: rotate(320deg);
    }

    57% {
        transform: rotate(330deg);
    }

    58% {
        transform: rotate(340deg);
    }

    59% {
        transform: rotate(350deg);
    }

    60% {
        transform: rotate(360deg);
    }

    61% {
        transform: rotate(350deg);
    }

    62% {
        transform: rotate(340deg);
    }

    63% {
        transform: rotate(330deg);
    }

    64% {
        transform: rotate(320deg);
    }

    65% {
        transform: rotate(310deg);
    }

    66% {
        transform: rotate(300deg);
    }

    67% {
        transform: rotate(290deg);
    }

    68% {
        transform: rotate(280deg);
    }

    69% {
        transform: rotate(270deg);
    }

    70% {
        transform: rotate(260deg);
    }

    71% {
        transform: rotate(250deg);
    }

    72% {
        transform: rotate(240deg);
    }

    73% {
        transform: rotate(230deg);
    }

    74% {
        transform: rotate(220deg);
    }

    75% {
        transform: rotate(210deg);
    }

    76% {
        transform: rotate(200deg);
    }

    77% {
        transform: rotate(190deg);
    }

    78% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}