* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #1e1e1e;

    section {
        position: relative;
        /* additional division by 2 because scale(0.5) */
        left: calc(50% - 950px / 2 / 2);
        top: 130px;
        transform: scale(0.5);
        transform-origin: 0 0;

        >div {
            position: absolute;

            >div {
                position: absolute;
                width: 40px;
                height: 40px;
                // border: 1px solid black;
                border-radius: 20px;
                background-color: black;
            }
        }
    }
}