@keyframes right_arm2_animation {
    0% {
        left: calc(100px + 750px - 300px - 40px);
        top: calc(100px - 40px);
        transform: rotate(180deg - 84.61deg);
    }

    1% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(95.707deg);
    }

    2% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(96.682deg);
    }

    3% {
        left: calc(590px - 40px);
        top: calc(249px - 40px);
        transform: rotate(98.278deg);
    }

    4% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(78.422deg);
    }

    5% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(67.225deg);
    }

    6% {
        left: calc(550px - 40px);
        top: calc(100px - 40px);
        transform: rotate(63.468deg);
    }

    7% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(67.225deg);
    }

    8% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(78.422deg);
    }

    9% {
        left: calc(590px - 40px);
        top: calc(249px - 40px);
        transform: rotate(98.278deg);
    }

    10% {
        left: calc(620px - 40px);
        top: calc(292px - 40px);
        transform: rotate(119.903deg);
    }

    11% {
        left: calc(657px - 40px);
        top: calc(329px - 40px);
        transform: rotate(135.581deg);
    }

    12% {
        left: calc(700px - 40px);
        top: calc(359px - 40px);
        transform: rotate(145.254deg);
    }

    13% {
        left: calc(657px - 40px);
        top: calc(329px - 40px);
        transform: rotate(135.581deg);
    }

    14% {
        left: calc(620px - 40px);
        top: calc(292px - 40px);
        transform: rotate(119.903deg);
    }

    15% {
        left: calc(590px - 40px);
        top: calc(249px - 40px);
        transform: rotate(98.278deg);
    }

    16% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(78.422deg);
    }

    17% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(67.225deg);
    }

    18% {
        left: calc(550px - 40px);
        top: calc(100px - 40px);
        transform: rotate(63.468deg);
    }

    19% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(67.225deg);
    }

    20% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(78.422deg);
    }

    21% {
        left: calc(590px - 40px);
        top: calc(249px - 40px);
        transform: rotate(98.278deg);
    }

    22% {
        left: calc(620px - 40px);
        top: calc(292px - 40px);
        transform: rotate(119.903deg);
    }

    23% {
        left: calc(657px - 40px);
        top: calc(329px - 40px);
        transform: rotate(135.581deg);
    }

    24% {
        left: calc(700px - 40px);
        top: calc(359px - 40px);
        transform: rotate(145.254deg);
    }

    25% {
        left: calc(657px - 40px);
        top: calc(329px - 40px);
        transform: rotate(135.581deg);
    }

    26% {
        left: calc(620px - 40px);
        top: calc(292px - 40px);
        transform: rotate(119.903deg);
    }

    27% {
        left: calc(590px - 40px);
        top: calc(249px - 40px);
        transform: rotate(98.278deg);
    }

    28% {
        left: calc(568px - 40px);
        top: calc(202px - 40px);
        transform: rotate(78.422deg);
    }

    29% {
        left: calc(554px - 40px);
        top: calc(152px - 40px);
        transform: rotate(67.225deg);
    }

    30% {
        left: calc(550px - 40px);
        top: calc(100px - 40px);
        transform: rotate(63.468deg);
    }

    31% {
        left: calc(554px - 40px);
        top: calc(47px - 40px);
        transform: rotate(64.152deg);
    }

    32% {
        left: calc(568px - 40px);
        top: calc(-2px - 40px);
        transform: rotate(67.354deg);
    }

    33% {
        left: calc(590px - 40px);
        top: calc(-50px - 40px);
        transform: rotate(72.023deg);
    }

    34% {
        left: calc(620px - 40px);
        top: calc(-92px - 40px);
        transform: rotate(77.574deg);
    }

    35% {
        left: calc(657px - 40px);
        top: calc(-129px - 40px);
        transform: rotate(83.658deg);
    }

    36% {
        left: calc(699px - 40px);
        top: calc(-159px - 40px);
        transform: rotate(90.053deg);
    }

    37% {
        left: calc(747px - 40px);
        top: calc(-181px - 40px);
        transform: rotate(96.599deg);
    }

    38% {
        left: calc(797px - 40px);
        top: calc(-195px - 40px);
        transform: rotate(103.178deg);
    }

    39% {
        left: calc(850px - 40px);
        top: calc(-200px - 40px);
        transform: rotate(109.687deg);
    }

    40% {
        left: calc(902px - 40px);
        top: calc(-195px - 40px);
        transform: rotate(116.034deg);
    }

    41% {
        left: calc(952px - 40px);
        top: calc(-181px - 40px);
        transform: rotate(122.133deg);
    }

    42% {
        left: calc(1000px - 40px);
        top: calc(-159px - 40px);
        transform: rotate(127.902deg);
    }

    43% {
        left: calc(1042px - 40px);
        top: calc(-129px - 40px);
        transform: rotate(133.263deg);
    }

    44% {
        left: calc(1079px - 40px);
        top: calc(-92px - 40px);
        transform: rotate(138.150deg);
    }

    45% {
        left: calc(1109px - 40px);
        top: calc(-50px - 40px);
        transform: rotate(142.514deg);
    }

    46% {
        left: calc(1131px - 40px);
        top: calc(-2px - 40px);
        transform: rotate(146.331deg);
    }

    47% {
        left: calc(1145px - 40px);
        top: calc(47px - 40px);
        transform: rotate(149.598deg);
    }

    48% {
        left: calc(1150px - 40px);
        top: calc(99px - 40px);
        transform: rotate(152.335deg);
    }

    100% {
        left: calc(100px + 750px - 300px - 40px);
        top: calc(100px - 40px);
        transform: rotate(180deg - 84.61deg);
    }
}