@keyframes right_arm1_animation {
    0% {
        transform: rotate(-180deg);
    }

    1% {
        transform: rotate(-180deg - 10deg);
    }

    2% {
        transform: rotate(-180deg - 20deg);
    }

    3% {
        transform: rotate(-180deg - 30deg);
    }

    4% {
        transform: rotate(-180deg - 20deg);
    }

    5% {
        transform: rotate(-180deg - 10deg);
    }

    6% {
        transform: rotate(-180deg - 0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}