@keyframes right_arm1_animation {
    0% {
        transform: rotate(-180deg);
    }

    1% {
        transform: rotate(-180deg - 10deg);
    }

    2% {
        transform: rotate(-180deg - 20deg);
    }

    3% {
        transform: rotate(-180deg - 30deg);
    }

    4% {
        transform: rotate(-180deg - 20deg);
    }

    5% {
        transform: rotate(-180deg - 10deg);
    }

    6% {
        transform: rotate(-180deg - 0deg);
    }

    7% {
        transform: rotate(-180deg - 10deg);
    }

    8% {
        transform: rotate(-180deg - 20deg);
    }

    9% {
        transform: rotate(-180deg - 30deg);
    }

    10% {
        transform: rotate(-180deg - 40deg);
    }

    11% {
        transform: rotate(-180deg - 50deg);
    }

    12% {
        transform: rotate(-180deg - 60deg);
    }

    13% {
        transform: rotate(-180deg - 50deg);
    }

    14% {
        transform: rotate(-180deg - 40deg);
    }

    15% {
        transform: rotate(-180deg - 30deg);
    }

    16% {
        transform: rotate(-180deg - 20deg);
    }

    17% {
        transform: rotate(-180deg - 10deg);
    }

    18% {
        transform: rotate(-180deg - 0deg);
    }

    19% {
        transform: rotate(-180deg - 10deg);
    }

    20% {
        transform: rotate(-180deg - 20deg);
    }

    21% {
        transform: rotate(-180deg - 30deg);
    }

    22% {
        transform: rotate(-180deg - 40deg);
    }

    23% {
        transform: rotate(-180deg - 50deg);
    }

    24% {
        transform: rotate(-180deg - 60deg);
    }

    25% {
        transform: rotate(-180deg - 50deg);
    }

    26% {
        transform: rotate(-180deg - 40deg);
    }

    27% {
        transform: rotate(-180deg - 30deg);
    }

    28% {
        transform: rotate(-180deg - 20deg);
    }

    29% {
        transform: rotate(-180deg - 10deg);
    }

    30% {
        transform: rotate(-180deg - 0deg);
    }

    31% {
        transform: rotate(-180deg + 10deg);
    }

    32% {
        transform: rotate(-180deg + 20deg);
    }

    33% {
        transform: rotate(-180deg + 30deg);
    }

    34% {
        transform: rotate(-180deg + 40deg);
    }

    35% {
        transform: rotate(-180deg + 50deg);
    }

    36% {
        transform: rotate(-180deg + 60deg);
    }

    37% {
        transform: rotate(-180deg + 70deg);
    }

    38% {
        transform: rotate(-180deg + 80deg);
    }

    39% {
        transform: rotate(-180deg + 90deg);
    }

    40% {
        transform: rotate(-180deg + 100deg);
    }

    41% {
        transform: rotate(-180deg + 110deg);
    }

    42% {
        transform: rotate(-180deg + 120deg);
    }

    43% {
        transform: rotate(-180deg + 130deg);
    }

    44% {
        transform: rotate(-180deg + 140deg);
    }

    45% {
        transform: rotate(-180deg + 150deg);
    }

    46% {
        transform: rotate(-180deg + 160deg);
    }

    47% {
        transform: rotate(-180deg + 170deg);
    }

    48% {
        transform: rotate(-180deg + 180deg);
    }

    49% {
        transform: rotate(-180deg + 190deg);
    }

    50% {
        transform: rotate(-180deg + 200deg);
    }

    51% {
        transform: rotate(-180deg + 210deg);
    }

    52% {
        transform: rotate(-180deg + 220deg);
    }

    53% {
        transform: rotate(-180deg + 230deg);
    }

    54% {
        transform: rotate(-180deg + 240deg);
    }

    55% {
        transform: rotate(-180deg + 250deg);
    }

    56% {
        transform: rotate(-180deg + 260deg);
    }

    57% {
        transform: rotate(-180deg + 270deg);
    }

    58% {
        transform: rotate(-180deg + 280deg);
    }

    59% {
        transform: rotate(-180deg + 290deg);
    }

    60% {
        transform: rotate(-180deg + 300deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}