* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  background-color: #1e1e1e;
}

body section {
  position: relative;
  /* additional division by 2 because scale(0.5) */
  left: calc(50% - 950px / 2 / 2);
  top: 130px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* start position */
  /* X = left */
  /* Y = top */
}

body section > div {
  position: absolute;
}

body section > div > div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: black;
}

body section .robot_body {
  width: 950px;
  height: 200px;
  background-color: cadetblue;
}

body section .robot_body > div:first-child {
  left: calc(100px - 20px);
  top: calc(100px - 20px);
}

body section .robot_body > div:last-child {
  left: calc(100px + 750px - 20px);
  top: calc(100px - 20px);
}

body section .left_arm_1 {
  width: 380px;
  height: 80px;
  border-radius: 40px;
  background-color: navy;
}

body section .left_arm_1 > div:first-child {
  top: calc(40px - 20px);
  left: calc(40px - 20px);
}

body section .left_arm_1 > div:last-child {
  top: calc(40px - 20px);
  left: calc(40px + 300px - 20px);
}

body section .left_arm_2 {
  width: 880px;
  height: 80px;
  border-radius: 40px;
  background-color: royalblue;
}

body section .left_arm_2 > div:first-child {
  top: calc(40px - 20px);
  left: calc(40px - 20px);
}

body section .left_arm_2 > div:last-child {
  top: calc(40px - 20px);
  left: calc(40px + 800px - 20px);
}

body section .right_arm_1 {
  width: 380px;
  height: 80px;
  border-radius: 40px;
  background-color: royalblue;
}

body section .right_arm_1 > div:first-child {
  top: calc(40px - 20px);
  left: calc(40px - 20px);
}

body section .right_arm_1 > div:last-child {
  top: calc(40px - 20px);
  left: calc(40px + 300px - 20px);
}

body section .right_arm_2 {
  width: 880px;
  height: 80px;
  border-radius: 40px;
  background-color: navy;
}

body section .right_arm_2 > div:first-child {
  top: calc(40px - 20px);
  left: calc(40px - 20px);
}

body section .right_arm_2 > div:last-child {
  top: calc(40px - 20px);
  left: calc(40px + 800px - 20px);
}

body section .left_arm_1 {
  left: calc(100px - 40px);
  top: calc(100px - 40px);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-animation: left_arm1_animation 7s linear infinite;
          animation: left_arm1_animation 7s linear infinite;
}

body section .left_arm_2 {
  left: calc(100px + 300px - 40px);
  top: calc(100px - 40px);
  -webkit-transform: rotate(84.61deg);
          transform: rotate(84.61deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-animation: left_arm2_animation 7s linear infinite;
          animation: left_arm2_animation 7s linear infinite;
}

body section .right_arm_1 {
  left: calc(100px + 750px - 40px);
  top: calc(100px - 40px);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-animation: right_arm1_animation 7s linear infinite;
          animation: right_arm1_animation 7s linear infinite;
}

body section .right_arm_2 {
  left: calc(100px + 750px - 300px - 40px);
  top: calc(100px - 40px);
  -webkit-transform: rotate(95.39deg);
          transform: rotate(95.39deg);
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-animation: right_arm2_animation 7s linear infinite;
          animation: right_arm2_animation 7s linear infinite;
}

@-webkit-keyframes left_arm1_animation {
  0% {
    left: calc(100px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: calc(100px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes left_arm1_animation {
  0% {
    left: calc(100px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    left: calc(100px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes left_arm2_animation {
  0% {
    left: calc(100px + 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(84.61deg);
            transform: rotate(84.61deg);
  }
  100% {
    left: calc(100px + 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(84.61deg);
            transform: rotate(84.61deg);
  }
}

@keyframes left_arm2_animation {
  0% {
    left: calc(100px + 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(84.61deg);
            transform: rotate(84.61deg);
  }
  100% {
    left: calc(100px + 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(84.61deg);
            transform: rotate(84.61deg);
  }
}

@-webkit-keyframes right_arm1_animation {
  0% {
    left: calc(100px + 750px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    left: calc(100px + 750px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes right_arm1_animation {
  0% {
    left: calc(100px + 750px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    left: calc(100px + 750px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes right_arm2_animation {
  0% {
    left: calc(100px + 750px - 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(95.39deg);
            transform: rotate(95.39deg);
  }
  100% {
    left: calc(100px + 750px - 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(95.39deg);
            transform: rotate(95.39deg);
  }
}

@keyframes right_arm2_animation {
  0% {
    left: calc(100px + 750px - 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(95.39deg);
            transform: rotate(95.39deg);
  }
  100% {
    left: calc(100px + 750px - 300px - 40px);
    top: calc(100px - 40px);
    -webkit-transform: rotate(95.39deg);
            transform: rotate(95.39deg);
  }
}
/*# sourceMappingURL=styles.css.map */